openapi: 3.0.0
info:
  title: Management Clusters Invitations API
  version: v1alpha1
  description: The global API for Fluidstack
servers:
- url: https://api.atlas.fluidstack.io/api/v1alpha1
security:
- bearerAuth: []
tags:
- name: Invitations
paths:
  /invitations:
    post:
      summary: Invite a user to an organization
      operationId: CreateInvitation
      tags:
      - Invitations
      description: Sends an invitation to a user to join the current organization.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - email
              properties:
                email:
                  type: string
                  description: The email address of the user to invite.
                role:
                  type: string
                  description: The role to assign to the user (e.g., admin, member, viewer).
      responses:
        '201':
          description: Invitation sent successfully
        '400':
          description: Invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    get:
      summary: Get invitations for an organization
      operationId: ListInvitations
      tags:
      - Invitations
      description: Retrieves a list of invitations for the current organization.
      responses:
        '200':
          description: A JSON array of invitations
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Invitation'
        '400':
          description: Invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /invitations/{id}:
    delete:
      summary: Delete an invitation
      operationId: DeleteInvitation
      tags:
      - Invitations
      description: Deletes an invitation by its unique identifier.
      parameters:
      - name: id
        in: path
        required: true
        description: The unique identifier of the invitation to delete.
        x-go-name: ID
        schema:
          type: string
      responses:
        '204':
          description: Invitation deleted successfully
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Invitation not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Invitation:
      type: object
      required:
      - id
      - email
      - role
      properties:
        id:
          type: string
          description: The invitation id.
          x-go-name: ID
        email:
          type: string
          description: The email address of the user being invited.
        role:
          type: string
          description: The role assigned to the user being invited (e.g., admin, member, viewer).
    Error:
      type: object
      description: Error response
      required:
      - message
      properties:
        message:
          type: string
          description: Human-readable error message
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
